.navbar {
    margin: 0;
    border-radius: 0;
}
.navbar-right{
    position: absolute;
    right:3%;
    top: 25%;
}

.navbar-toggle {
    display: inline-block;
    margin-left: 10px;
}

.main {
    display: flex;
    background-color: #ecf0f5;
    min-height: calc(100vh - 52px);
    overflow: hidden;
}

.content {
    width: 100%;
    padding-top: 20px;
}

.menu {
    width: 0px;
    border-top: 1px solid #333;
    background-color: #222;
    flex-shrink: 0;
    overflow: hidden;
    transition: width .5s;
}

.menu.menu-open {
    width: 300px;
}

.menu ul {
    list-style: none;
    padding: 10px 0px;
}

.menu ul li.active {
    background-color: #080808;
}

.menu ul li a {
    display: block;
    color: #9d9d9d;
    padding: 10px 15px;
    white-space: nowrap;
}

.menu ul li:hover a,
.menu ul li.active a {
    color: white;
    text-decoration: none;
}

#form-container {
    width: 100vw;
    height: 100vh;
    background: #6C7A89;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

#form-boxadd {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

#form-box input {
    font-size: small;
}

#form-box {
    width: 300px;
    padding: 20px;
    box-sizing: border-box;
}

#pagination {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

#addAdm {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    margin-bottom: 0;
}

#welcome {
    font-family: 'Liu Jian Mao Cao', cursive;
    font-style: italic;
}

#clients {
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
}

/* DROPDOWN */
.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .1em solid;
    border-right: .1em solid transparent;
    border-bottom: 0;
    border-left: .1em solid transparent;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 99%;
    left: 10%;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .15rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: center;
    list-style: none;
    background-color: rgb(211, 211, 211,0.9);
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
  }
  .dropdown-item {
    display: block;
    width: 100%;
    padding: .3rem 1rem;
    clear: both;
    font-weight: 350;
    color: black;
    text-align: center;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
  }
  
  .dropdown:hover>.dropdown-menu {
    display: block;
  }
  
  .dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
  }
  

  /* PROFIL */

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  .p-b{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .p-f {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
.p-b:hover, .p-f:hover {
    opacity: 0.7;
  }
  